<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ldt.debug.core.lualocaldebug">
<booleanAttribute key="enableBreakOnFirstLine" value="false"/>
<booleanAttribute key="enableDbgpLogging" value="false"/>
<stringAttribute key="mainScript" value="src/wallSherpa.lua"/>
<stringAttribute key="nature" value="org.eclipse.ldt.nature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/turtleApps/src/wallSherpa.lua"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.dltk.launching.debugConsole" value="true"/>
<stringAttribute key="process_factory_id" value="org.eclipse.dltk.launching.scriptProcessFactory"/>
<stringAttribute key="project" value="turtleApps"/>
<stringAttribute key="workingDir" value="${workspace_loc:turtleApps/src}"/>
</launchConfiguration>
